.topic-map {
 background : #ffffdd;
 border-radius : 0px 15px 15px 15px;
}

.container {
 background : #fcecda;
 border-radius : 5px 45px 45px 45px;
}
 
.title-wrapper {
background : none;
}

.list-controls {
background : none;
}
