.topic-map, .btn {
 background : #ffffdd;
 border-radius : 0px 15px 15px 15px;
}

.topic-list-item {
 border : none;
}

tr {
 border-bottom : none;
}

tbody {
 border-top : none;
}
 
.posts-wrapper, .topic-list {
 background : #fcecda;
 border-radius : 5px 45px 45px 45px;
 border-width : 0px;
}

.row::before, .row::after {
 display : none;
}
