.topic-map, .btn {
 background : #ffffdd;
 border-radius : 0px 15px 15px 15px;
}

.topic-list-item {
 border : none;
}
 
.posts-wrapper, .topic-list {
 background : #fcecda;
 border-radius : 5px 45px 45px 45px;
}

.row::before, .row::after {
;
}
