$primary: #221500 !default;
$secondary: #ddccaa !default;
$tertiary: #000000 !default;
$quaternary: #504030 !default;
$header_background: #887755 !default;
$header_primary: #333333 !default;
$highlight: #ffff4d !default;
$danger: #e45735 !default;
$success: #aaff00 !default;
$love: #ffdccc !default;
